
.head{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.form__names {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 13%;
  width: 247px;
}

.form input{
  height: 40px;
  font-size: 1.17em;
}

input{
  margin-bottom: 16px;
  border-radius: 5px;
  border: 0.5px solid #D9D9D9;
}

button{
  border-radius: 5px;
}

input[type=text]:focus {
  border: 3px solid #89CFF0;
  outline: none !important;
}

input[type=tel]:focus {
  border: 3px solid #89CFF0;
  outline: none !important;
}

input:focus {
  border: 3px solid #89CFF0;
  outline: none !important;
}

.tel-num{
  width: 512px;
}

.form__password{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 13%;
  width: 247px;
}
.form__info--emails{
  width: 512px;
}

.form__tos {
  display: flex;
  width: 513px;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.form__tos--agreebox--label{
  margin-right: 5px;
  font-weight: bold;
  font-size: 15px;
}

.form__tos--agreebox{
  display: flex;
  width: 122px;
  margin-right: 5px;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.form__tos--agreebox label{
  padding-bottom: 12px;
}

.form__info{
  display: flex;
  width: 515px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.agree1 {
  padding: 5px;
}

.form__tos p{
  font-size: 16px;
}

.form__tos a{
  color: #428BCA;
  text-decoration: none;

}

.form__tos button{
  background-color: #428BCA;
  color: white;
  border: none;
}

input{
  padding: 5px 5px 5px 15px;
  /* border:  */
}

.form__submit{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8%;
  width: 513px;
}

.form__submit--register {
  background-color: #428BCA;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
}

.form__submit button{
  font-size: 1.17em;
  height: 40px;
  width: 250px;
}


.form__submit--sign {
  background-color: #5CB85C;
  color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}